{% extends 'accounts/base.html' %}

{%load static%}

{%block title%} Login Todo App {%endblock%}

{% block head %} 
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock %}

{%block content%}
    
    <h2> Login </h2>
    <form method="post" id="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="loginButton">
            <span id="buttonText"> Login </span>
            <span id="loadingSpinner" style="display: none;">
                <i class="fa fa-spinner fa-spin"></i> 
            </span>
        </button>
    </form>

    <script src="{%static 'js/login.js' %}"></script>
{%endblock%}