{% extends 'todo/base.html'%}

{% block content %}

    <h5> {{message}}</h5>

    <form action="{% url 'todo:process_data' %}" method="post">

        {% csrf_token %}
    
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required>
        <br> <br>

        <label for="title">Description</label>
        <textarea id="description" name="description" rows="5" cols="30" placeholder="Enter your description here..."></textarea>
        <br> <br>

        <label for="is_completed">Is completed</label>
        <input type="radio" name="option_group" value="no" checked> No
        <input type="radio" name="option_group" value="yes"> Yes
        <br> <br>
        <label for ="dueDate">Due Date:</label>
        <input type="date" id="dueDate" name="dueDate" value="2025-12-31">

        <br> <br>
        <label for="priority">Select the Priority..</label>
        <select id="priority" name="priority">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>

        <br> <br>
        <input type="submit" value="Submit" onclick="validate_input()">
        <input type="reset" value="Reset">

    </form>


{% endblock %}
