{% extends 'todo/base.html'%}

{% load static %}

{% block title %} Add Todo. {% endblock %}

{% block head %} 
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'todo/css/add_todo.css' %}">
{% endblock %}

{% block content %}

    <h3> {{message}}</h3>

    <form id = "todoForm" action="{% url 'todo:process_data' %}" method="post">

        {% csrf_token %}
    
        <label for="title">Title</label>
        <input type="text" id="title" name="title" aria_invalid = 'true', aria-describedby="title-error">
        <span id="title-error"></span> 
        <br> <br>

        <label for="title">Description</label>
        <textarea id="description" name="description" rows="5" cols="30" placeholder="Enter your description here..."></textarea>
        <span id="description-error"></span>
        <br> <br>

        <label for="is_completed">Is completed</label>
        <input type="radio" id = "optionA" name="option_group" value="no" > No
        <input type="radio" id = "optionB" name="option_group" value="yes"> Yes
        <span id="option-group-error"></span>
        <br> <br>
        <label for ="dueDate">Due Date:</label>
        <input type="date" id="dueDate" name="dueDate" placeholder="YYYY-MM-DD">
        <span id = "due-date-error"></span>

        <br> <br>
        <label for="priority">Select the Priority..</label>
        <select id="priority" name="priority">
            <option value="" disabled selected>Select Priority</option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
        <span id = "priority-error"></span>

        <br> <br>
        <input type="submit" value="Add" class="button-add">
        <input type="reset" value="Reset" class="button-clear">

    </form>

    <script src="{%static 'todo/js/validation.js' %}"></script>


{% endblock %}
