{% extends 'todo/base.html'%}

{% block content %}

    {%load static%}

    <h5> This applications allows the user to create todos. </h5>

    <a href="{% url 'todo:add_todo' %}" class="button-create"> Create Todo. </a> 
    <a href="{% url 'todo:list_todos' %}" class="button-show"> Show Todos. </a>

    <br> <br>

    <a href="{% url 'accounts:logout' %}" class="button-logout" id = "account-logout"> Logout </a>
    <a href="{% url 'accounts:profile' %}" class="button-view-profile" > Profile </a>

    <div id="confirmModal" class="modal">
        <div class="modal-content">
            <p>You are about to be logged out from the application?</p>
            <div class="modal-actions">
                <button id="confirmYes">Yes</button>
                <button id="confirmNo">No</button>
            </div>
        </div>
    </div>

    <script src="{%static 'todo/js/index.js' %}"></script>



{% endblock %}
