{%extends "todo/base.html"%}

{% load static %}

{%block title%} List Todos. {%endblock%}


{% block head %} 
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'todo/css/list_todo.css' %}">
{% endblock %}


{%block content%}

    {% if all_todos %}
        <h5> Your Listed todos...</h5>
        <form action = "{% url 'todo:filter_todo' %}" method="get">
        <label for="Filter">Filter Todo By Priority </label>
        <select id="filter" name="filter">
            <option value="None" selected>None</option>
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
        <button type="submit" class="button-apply">Apply</button>
        </form>
        <br> <br>
        <table>
            <tr>
            <th> No# </th> <th> Created By </th> <th> Title </th> <th> Description </th> <th> Is_completed </th> <th> Priority </th> <th colspan="2"> Actions</th>
            </tr>
            {% for todo in all_todos %}
                <tr>
                    <td>{{forloop.counter}}</td> <td> {{todo.user.username}} </td> <td>{{todo.title|truncatechars:10}}</td> <td>{{todo.description|truncatechars:20}}</td> <td>{{todo.is_completed|yesno:"Completed, Pending"}}</td> 
                    <td>{{todo.priority}}</td> <td> <a href="{% url 'todo:edit_todo' todo.id %}" class="button-edit"> Edit </a> </td> 
                    <td> <a href="{% url 'todo:delete_todo' todo.id %}" class="button-delete"> Delete </a></td>
                </tr>
            {% endfor %}
        
        </table>
    {%else %}
        <h3> No todos found </h3>
        <a href="{%url 'todo:add_todo'%}"> Create One.</a>
    
    {%endif%}
    <br>

    <a href="{% url 'todo:index' %}" class="button-create">Go Back</a>

    <script src="{% static 'todo/js/list.js' %}"></script>

{% endblock %}